<%= link_to "Back", hair_stylists_path, class:"button-website button-back " %>

<div class="row g-4 show-main-box">
  <div style= "text-align: left" id="show-headline">
    <h1 class="headline-font"><%= @hairstylist.business_name %></h1>
  </div>



  <div class="col-8 col-lg-8">
    <img class="show-detail-image w-100" src="<%= @hairstylist.image_url %>" alt="Hairstylist_image">
    <div class="reviews-box-show">
      <h4> Reviews: *****</h4>
      <p> I am so happy with the result. Took me so long to find the perfect Hairstylist for me.
      definitely resommend them. One notice tho: The mirrors were a little blurry. But besides that
      perfect Service. I'll come back for sure! </p>
    </div>
  </div>
  
  <div class="col-4 col-lg-4">
    <div class="service-box-show">
      <h4> Services </h4>
      <p> <%= @hairstylist.services %> </p>
    </div>

    <div class="contact-box-show">
      <h4>Contact information</h4>
      <p>Location: <%= @hairstylist.address %></p>
      <p>Phone number: <%= @hairstylist.phone_number %></p>
    </div>


    <div class="timeslots-box-show">
        <h4>Opening Hours</h4>
        <ul>
          <li> Monday: 9am - 6pm </li>
          <li> Tuesday: 9am - 6pm </li>
          <li> Wednesday: Closed </li>
          <li> Thursday: 11am - 9pm </li>
          <li> Friday: 9am - 8pm </li>
          <li> Saturday: 9am - 8pm </li>
          <li> Sunday: 11am - 6pm </li>

        </ul>
        
    </div>

    <div style="margin-top: 20px">
      <%= link_to "Book Appointment!", new_hair_stylist_booking_path(@hairstylist), class: "button-website" %>
    </div>


  </div>



  
    </div>

</div>

<ul class="list-group">
  <% @hairstylist.bookings.each do |booking| %>
    <li class="list-group-item"><%= booking.user.first_name %></li>
  <% end %>
</ul>
