<%= link_to "index Page", hair_stylists_path, class: 'btn btn-secondary'%>

<div class="row g-4 show-main-box">
  <div style= "text-align: left" id="show-headline">
    <h1><%= @hairstylist.business_name %></h1>
  </div>

 
    <div class="col-8 col-lg-8">
      <img class="show-detail-image w-100" src="<%= @hairstylist.image_url %>" alt="Hairstylist_image">
        <div class="reviews-box-show" class="col-8 col-lg-8">


  <div>
  <img class="show-detail-image" src="<%= @hairstylist.image_url %>" alt="Hairstylist_image">
  </div>

  <div class="col-8 col-lg-8">
    <img class="show-detail-image w-100" src="<%= @hairstylist.image_url %>" alt="Hairstylist_image">
  </div>


  <div class="col-4 col-lg-4">
    <div class="contact-box-show">
      <h4>Contact information</h4>
      <p>Location: <%= @hairstylist.address %></p>
      <p>Phone number: <%= @hairstylist.phone_number %></p>
    </div>


    <div class="timeslots-box-show">
        <h4>My available Timeslots:</h4>
        <% @timeslots.each do |time_slot| %>
          <% if time_slot.available == true %>
            <p> <%= time_slot.date.strftime("%A, %d.%m.%Y") %> </p>
            <p> <%= time_slot.start_time.strftime ("%H:%M")%> - <%= time_slot.end_time.strftime ("%H:%M") %> </p>
          <% end %>
        <% end %>
    </div>

    <div>
    <% if user_signed_in? %>
      <%= link_to "Book Appointment!", new_hair_stylist_booking_path(@hairstylist.id), class: "btn btn-primary button-appointment" %>
    <% else %>
      <p>Please log in to make a booking!</p>
    <% end %>
 </div>

  </div>



  <div class="reviews-box-show">
    <h4> Reviews: *****</h4>
  </div>
    </div> 

    <div class="col-4 col-lg-4">
      <div class="service-box-show">
        <h4> Services </h4>
        <p> *** insert services *** </p>
      </div>

      <div class="contact-box-show">
        <h4>Contact information</h4>
        <p>Address: <%= @hairstylist.address %></p>
        <p>Phone number: <%= @hairstylist.phone_number %></p>
      </div>
  

      <div class="timeslots-box-show">
          <h4>Available Timeslots</h4>
          <% @timeslots.each do |time_slot| %>
            <% if time_slot.available == true %>
              <p> <%= time_slot.date.strftime("%A, %d.%m.%Y") %> </p>
              <p> <%= time_slot.start_time.strftime ("%H:%M")%> - <%= time_slot.end_time.strftime ("%H:%M") %> </p>
            <% end %> 
          <% end %>
      </div>

      <div>
      <%= link_to "Book Appointment!", new_booking_path(hairstylist: @hairstylist.id), class: "btn btn-primary shadow-lg button-appointment" %>
      </div>
    </div>
</div>

<p><strong>Bookings</strong></p>
<ul class="list-group">
  <% @hairstylist.bookings.each do |booking| %>
    <li class="list-group-item"><%= booking.user.first_name %></li>
  <% end %>
</ul>
