<div>
<h1><%= @hairstylist.business_name %></h1>
</div>

<div>
<img class="Show-detail-image" src="<%= @hairstylist.image_url %>" alt="Hairstylist_image
">
</div>

<div>
<h4>Contact information</h4>
<p>Location: <%= @hairstylist.address %></p>
<p>Phone number: <%= @hairstylist.phone_number %></p>
</div>

<div>
<h4>My available Timeslots:</h4>
<%#inserting timeslots%>
<%#inserting Booking button%>
</div>
<%= link_to "Book Appointment!", new_booking_path(hairstylist: @hairstylist.id), class: "btn btn-neutral button-appointment" %>
